/*hat*/
.hat{
  max-width: 1440px;
}
  .hat__site_name{
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
  }
  .hat__nav_menu{
    color: #ffffff;      
  }
  .nav_menu{  
    
  }
    .nav_menu__link{
      font-family: 'Oxygen', sans-serif;
      font-size: 12px; 
      font-weight: 400;
      text-decoration: none;
      letter-spacing: 0.6px;
      color: #ffffff;
      padding: 21px;
      display: inline-block;
    }


/*footer*/
.footer{
    max-width: 1440px;
    max-height: 378px;
    background-image: url("images/FooterBG.png");
    background-position: center;
    background-size: cover;
  }
  .footer__site_name{
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 400;
  
    color: #ffffff;
  }
  .form .button{
    background: #FFFFFF;
    opacity: 28%;
    border: none;
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 12px 31px; 
  }
  .form .button .button_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 100%;
    color: #F8F8F8;
  }

  